/*-------------General-----------*/

body {
        width: auto;
        margin: 0;
        font-family: 'Varela', Arial, Helvetica, sans-serif;
        background-color: white;
        color: black;
        line-height: 1.4;
}

html {
        scroll-behavior: smooth;
}

/*-----------Navigation----------*/

.navbar {
        width: auto;
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 10vh;
        background: #101013de;
        transition: 400ms;
}

.navbar ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        padding: 0;
}

.navbar li {
        margin: 0 1rem;
        padding: .5rem;
}

.navbar a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: relative;
        transition: 0.5s;
}

.hamburger {
        display: none;
}

/*--------Navigation-Design-----------------*/

li a::after {
        position: absolute;
        content: "";
        top: 125%;
        left: 0;
        width: 100%;
        height: 2px;
        background: #06A8FF;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
}

li a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
}

/*----------------Heading----------------*/
#head {
        background: url(images/pawel.jpg) no-repeat center fixed;
        background-size: cover;
        color: white;
}

.darkHead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
}

.darkHead p:nth-child(1) {
        font-size: 50px;
        margin: 0 5% 0 10%;
}

.darkHead p:nth-child(2) {
        font-size: 60px;
        margin: 0 5% 0 10%;
}

/*-------Border-blink/Writing-text----------*/

.darkHead p:nth-child(3) {
        min-height: 34.4px;
        font-size: 25px;
        margin: 20px 5% 0 10%;
        width: fit-content;
        border-image-outset: 30px;
        border-right: 0.10em solid #06A8FF;
        letter-spacing: 0.05em;
        animation: blink 0.75s step-end infinite;
}

@keyframes blink {

        from,
        to {
                border-color: transparent;
        }

        50% {
                border-color: #06A8FF;
        }
}

/*----------------Arrow----------------*/
.arrow {
        opacity: .5;
        padding: 2px 18px 0;
        height: 32px;
        border-radius: 50%;
        border: solid 2px #06A8FF;
        position: absolute;
        top: 85%;
        left: 48%;
        transition: transform 0.5s ease-in-out;
}

.arrow:hover {
        opacity: 1;
        transition: transform 0.5s ease-in-out;
        transform: scale(1.5);
}

.arrow span {
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid whitesmoke;
        border-right: 2px solid whitesmoke;
        transform: rotate(45deg);
}

.arrow span:nth-child(2) {
        animation: drop 2s ease-in-out reverse infinite;
}

@keyframes drop {

        from,
        to {
                transform: rotate(45deg) translate(0, 0);
        }

        50% {
                transform: rotate(45deg) translate(-1.5px, -1.5px);
        }
}

/*------------------Section---------------------*/


/*--------PRÉSENTATION-----------*/

.experience {
        min-height: 60vh;
        border-bottom: solid 1px grey;
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: whitesmoke;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

.experience p {
        font-size: 1.2rem;
        font-family: 'Varela', sans-serif;
        width: 70%;
        margin: 0 auto;
}

.experience h1 {
        font-family: 'Varela', sans-serif;
        margin: 0 0 18px 0;
        text-decoration: #06A8FF underline;
        text-underline-position: under;

}

/*---------COMPÉTENCES-----------*/

#section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: solid 1px grey;
        padding-top: 90px;
        padding-bottom: 80px;
}

#section2 h2 {
        text-decoration: #06A8FF underline;
        text-underline-position: under;
}

#section2 li {
        list-style: none;
        color: white;
        background-color: #06A8FF;
        margin: 2px;
        padding: 10px;
        width: fit-content;
        border-radius: 20px;
}

#section2 ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 16px 15%;
}


/*---------RÉALISATION-----------*/

#section3 {
        padding-top: 90px;
        padding-bottom: 80px;
        text-align: center;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: black;
        height: auto;
        padding-bottom: 80px;
}

.realisation {
        margin-bottom: 20px;
        height: fit-content;
        width: 100%;
        text-decoration: #06A8FF underline;
        text-underline-position: under;
}


/*---------figure-----------*/

figure {
        border: #06A8FF 4px solid;
        padding: 5px;
        width: 300px;
        height: 350px;
}

figure img {
        width: 300px;
        height: 150px;
}

figcaption {
        background-color: white;
        color: black;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
        height: 190px;
}

figcaption a {
        text-decoration: none;
        color: #06A8FF;
}

/*---------CONTACT---------------*/

#section4 {
        align-items: center;
        margin: auto;
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 90px;
        position: relative;
        height: 90vh;
}

#section4 p {
        font-size: 1.2rem;;
}

.iconanime{
        margin: auto;
        display: flex;
        justify-content: center;
}

.github {
        width: 90px;
        height: 90px; 
}

.path2{
        transition: .6s;
}

.github:hover .path2{
        fill: rgb(26, 119, 206);
}

/*-------Animation_Linkedin--------*/


.path {
        stroke-dasharray: 1000;
}

.linky:hover .path {
        animation: move 1.5s ease-in-out reverse;
}

@-webkit-keyframes move {
        0% {
                stroke-dashoffset: 0;
        }

        80% {
                fill: white;
        }

        100% {
                stroke-dashoffset: 1000;
                stroke-width: "0";
        }
}

@keyframes move {
        0% {
                stroke-dashoffset: 0;
        }

        80% {
                fill: white;
        }

        100% {
                stroke-dashoffset: 1000;
                stroke-width: "0";
        }
}

/*--------------footer------------*/

footer {
        display: flex;
        justify-content: center;
        height: 10vh;
        margin: 0;
        text-align: center;
        padding-top: 10px;
        background-color: #0C0F0A;
        color: white;
}

footer p {
        font-size: 1rem;
        margin: 0;
}

/*----------------------------------Responsive-----------------------------------*/

/*---------------max-width: 789px--------------*/

@media screen and (max-width: 789px) {

        /*---------------Hamburger--------------*/

        .hamburger {
                display: flex;
                flex-direction: column;
                height: 42px;
                margin: 10px 20px 0 0;
        }

        .bar1,
        .bar2,
        .bar3 {
                width: 35px;
                height: 6px;
                background-color: white;
                margin-top: 6px;
                border-radius: 5%;
                transition: all 0.5s;
        }

        .open .bar1 {
                transform: translateY(200%) rotate(-45deg);
        }

        .open .bar3 {
                transform: translateY(-200%) rotate(45deg);
        }

        .open .bar2 {
                transform: rotate(-45deg);
                opacity: 0;
        }

        /*---------------Navigation--------------*/

        .navbar {
                display: flex;
                justify-content: flex-end;
                transition: all 0.5s;

        }


        .navbar ul {
                flex-direction: column;
                align-items: center;
                opacity: 0;
                margin-left: 50px;
        }

        .hide ul {
                opacity: 1;
        }

        .hide {
                height: 30%;
        }

        .navbar ul li a:hover {
                border-top: white solid 0px;
        }

        .navbar ul li {
                padding: 2px;
        }

        .navbar ul .link1 {
                transform: scaleY(0);
                transition-delay: 4s;
                transition: .4s ease .3s;
        }

        .hide ul .link1 {
                transform: scaleY(1);
        }

        li a::before {
                content: none;
        }

        li a::after {
                content: none;
        }

        /*---------------General--------------*/

        p {
                font-size: 1rem;
        }

        h1 {
                font-size: 1rem;
                margin: 20px 20px;
        }

        /*---------------HEAD--------------*/

        .darkHead p:nth-child(3) {
                min-height: 22px;
                font-size: 1rem;
                margin-bottom: 50px;
        }

        .darkHead p:nth-child(1), .darkHead p:nth-child(2) {
                font-size: 35px;
        }

        /*---------------Section--------------*/

        #section4 {
                width: 70%;
                height: 85vh;
                padding-top: 10px;
        }

        #section4 p {
                font-size: 1rem;
        }

        .experience p{
                width: 80%;
        }

        /*---------------Footer--------------*/

        footer p {
                font-size: .6rem;
        }

        footer {
                padding-top: 20px;
        }
}