@import "./../common/mixins";
@import "./../common/variables";

.swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
        flex-direction: row !important
    }

    &-slide {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-top: 40px !important;
        margin-bottom: 20px;
        border-radius: 5px;

        img {
            @include objectFit(cover, center, 100%, 100%);
            display: block;
            transition: all .5s ease-in-out;;
        }

        &:hover {

            img {
                transform: scale(1.1);
            }

            .info {
                opacity: 1;
                visibility: visible;
                bottom: 0;
                transition: all .5s;
            }
        }

        .info {
            padding: 14px 8px;
            text-align: center;
            width: 100%;
            position: absolute;
            background-color: white;
            bottom: -30px;
            opacity: 0;
            height: 40%;
            transition: all .2s;
            visibility: hidden;
            z-index: 2;

            h3 {
                font-size: rem(18);
            }

            p {
                font-size: rem(16);
            }

        }

    }
  }

  .swiper-pagination {
    position: initial !important;
    margin-top: 15px;

    &-bullet {
        border-radius: 0 !important;
        width: 22px !important;
        height: 6px !important;
        background-color: white !important;
    }
  }