@import "./../common/mixins";
@import "./../common/variables";

footer {
    background-color: color(primary);

    .container {
        text-align: center;
        padding: 30px;
        font-size: rem(20);
        @media screen and (max-width: $tablet) {
            font-size: rem(18);
        }
    }
}
